{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carte.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ carte.type }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ carte.numero }}</td>
            </tr>
            <tr>
                <th>Numserie</th>
                <td>{{ carte.numSerie }}</td>
            </tr>
            <tr>
                <th>Numclient</th>
                <td>{{ carte.numClient }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ carte.status }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ carte.userId }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ carte.action }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if carte.dateCreation %}{{ carte.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastupdate</th>
                <td>{% if carte.lastUpdate %}{{ carte.lastUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carte_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carte_edit', { 'id': carte.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
